// https://www.colorabout.com/color/rgb/16,40,63/#tones
$MainScheme1: rgb(186, 212, 238);
$MainScheme2: rgb(51, 127, 200);
$MainScheme3: rgb(33, 84, 132);
$MainScheme4: rgb(10, 24, 38);
// $MainScheme5: rgb(35, 40, 44, 0.6);

//https://www.colorabout.com/color/rgb/63,39,16/#tones
$Accent1: rgb(238, 211, 186);
$Accent2: rgb(220, 168, 118);
$Accent3: rgb(63, 39, 16);
$Accent4: rgb(38, 23, 10);
$Accent5: rgb(44, 39, 35, 0.6);

$box-shadow: rgba(0, 0, 0, 0.4) 0px 19px 38px, rgba(0, 0, 0, 0.4) 0px 15px 12px;
