// From original wood app:

$medium-beige: rgb(255, 230, 211);
$beige-transparent:rgba(255, 190, 141, 0.4);

$light-gray: rgb(225, 224, 224);
$medium-gray: rgb(135, 135, 135);
$dark-gray: rgba(35, 34, 34, 1);

$dark-gray-transparent-9: rgba(35, 34, 34, 0.9);
$dark-gray-transparent-6: rgba(29, 29, 29, 0.6);

$light-red: rgb(242, 180, 180);
$red-brown: rgb(40, 21, 0);

$white-transparent: rgba(255, 255, 255, 0.15);

$box-shadow: rgba(16, 40, 63, 0.8) 3px 3px 10px 1px;

$color_00: rgb(255, 255, 255);
$color_01: rgb(0, 0, 0);
$color_02: rgb(0, 136, 203);
$color_03: rgb(255, 203, 5);
$color_04: rgb(237, 28, 36);
$color_05: rgb(247, 184, 0);
$color_06: rgb(234, 234, 234);
$color_07: rgb(164, 164, 164);
$color_08: rgb(74, 74, 74);
$color_09: rgb(255, 246, 229);
$color_10: rgb(249, 220, 166);
$color_11: rgb(249, 191, 81);
$color_12: rgb(164, 126, 54);
$color_13: rgb(82, 63, 27);
$color_14: rgb(211, 229, 175);
$color_15: rgb(180, 204, 132);
$color_16: rgb(136, 178, 53);
$color_17: rgb(91, 118, 35);
$color_18: rgb(45, 59, 17);

$color_19: rgb(175, 205, 233);
$color_20: rgb(48, 120, 190);
$color_21: rgb(32, 80, 127);
$color_22: rgb(16, 40, 63);
$color_22_transparent: rgb(16, 40, 63, 0.5);

$color_28: rgb(87, 0, 109);

$color_23: rgb(178, 231, 165);
$color_24: rgb(136, 208, 119);
$color_25: rgb(57, 184, 26);
$color_26: rgb(38, 123, 17);
$color_27: rgb(19, 61, 9);
