
$color_14: rgb(211, 229, 175);
$color_15: rgb(180, 204, 132);
$color_16: rgb(136, 178, 53);
$color_17: rgb(91, 118, 35);
$color_18: rgb(45, 59, 17);

$blue-1: rgb(175, 205, 233);
$blue-2: rgb(67, 127, 187);
$blue-3: rgb(32, 80, 127);
$blue-4: rgb(16, 40, 63);
$blue-4_transparent: rgb(16, 40, 63, 0.5);

$purple-4: rgb(69, 38, 54);

$box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;