@use './colors' as colors;
@use './mixins' as mixins;

body {
  background-color: colors.$Accent5;
}

h1 {
  font-size: 2rem;
  @include mixins.headings;
}

h2 {
  font-size: 2rem;
  @include mixins.heading-2-3;
}

h3 {
  font-size: 1.5rem;
  @include mixins.heading-2-3;
}

p {
  color: colors.$MainScheme1
}

a {
  color: colors.$MainScheme1;
  text-decoration: none;
}
