@use "./colors.scss" as colors;

// Flexbox mixins

@mixin flex-col-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin flex-row-center {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

// Text mixins

@mixin headings {
	font-weight: 600;
	margin: 1rem;
	margin-bottom: 2rem;
	padding: 1rem;
	width: fit-content;
	color: colors.$MainScheme1;
	background-color: colors.$MainScheme4;
	@include border($shadow: true, $radius: true, $border: true);
}

@mixin heading-2-3 {
	font-weight: 500;
	padding: 0.5rem;
	color: white;
}

// container mixins

@mixin container {
	color: colors.$MainScheme3;
	background-color: colors.$MainScheme1;
}

@mixin border(
	$shadow: false,
	$radius: false,
	$border: false,
	$thickness: 0px,
	$color: colors.$MainScheme4
) {
	@if $shadow {
		box-shadow: colors.$box-shadow;
	}
	@if $radius {
		border-radius: 0.25rem;
	}
	@if $border {
		border: $thickness solid $color;
	}
}
