@use '../base' as base;


.main_container {
	margin: 9rem auto;
}

.top-col,
.paragraph-col,
.button-col {
	margin: 0 auto;
	@include base.flex-col-center;
}

.header-row {
	@include base.border($shadow: false);
	min-height: 40vh;
	width: 100vh;
	background-color: base.$blue-2;
	margin: 0.5rem auto;
	padding-bottom: 1rem;
	scroll-margin-block-start: 8rem;
}

.row-image {
	width: 90%;
	height: 90%;
	object-fit: cover;
	@include base.border($border: true, $thickness: 3px);
}
