@use "../base/colors.scss";

.clickable-button {
	color: colors.$color_22;
	background-color: colors.$color_19;
	border: 1px solid colors.$color_19;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	font-weight: 700;
	&:hover {
		cursor: pointer;
		background-image: url("WoodBackground.jpeg");
	}
	&:active {
		border: 2px solid colors.$color_19;
	}
}
