@use "../base/" as base;

.boardfoot-form {
	margin-bottom: 1rem;
}

.form-container {
	@include base.container;
	@include base.flex-col-center;
	padding: 3rem;
	min-width: 300px;
	h2 {
		padding: 0.25rem;
	}
}

.form-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.form-label {
	color: base.$blue-1;
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.form-control {
	color: base.$blue-1;
	background-color: base.$blue-3;
	border: 1px solid base.$blue-1;
	@include base.border($shadow: false, $border: false);
	margin: 0.5rem;
	width: 150px;
	p {
		color: base.$blue-1;
	}
}
